<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamHome"
        tools:targetApi="31" >
        <activity
            android:name=".property.EditProperty"
            android:exported="false" />
        <activity
            android:name=".property.viewProperty"
            android:exported="false" />
        <activity
            android:name=".property.favorite"
            android:exported="false" />
        <activity
            android:name=".property.CreateProperty"
            android:exported="false" />
        <activity
            android:name=".meProfile"
            android:exported="false" />
        <activity
            android:name=".Navegation"
            android:exported="false"
            android:label="@string/title_activity_navegation"
            android:theme="@style/Theme.DreamHome.NoActionBar" />
        <activity
            android:name=".property.yourproperties"
            android:exported="false" />
        <activity
            android:name=".property.properties"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".auth.signIn"
            android:exported="false" />
        <activity
            android:name=".auth.logIn"
            android:exported="false" />
        <activity
            android:name=".auth.start"
            android:exported="true"
            android:theme="@style/Theme.App.Starting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>